Repository cashubtc/nutshell, pull requests merged in 2023-05, with the labels that each got.

#164 [Wallet] coinselection of all tokens from old epochs
  cashu/wallet/wallet.py
Labels: wallet

#186 Python/relative_import
  cashu/core/base.py
  cashu/core/crypto.py
  cashu/core/helpers.py
  cashu/core/migrations.py
  cashu/lightning/fake.py
  cashu/lightning/lnbits.py
  cashu/mint/app.py
  cashu/mint/crud.py
  cashu/mint/ledger.py
  cashu/mint/main.py
  cashu/mint/migrations.py
  cashu/mint/router.py
  cashu/mint/startup.py
  cashu/wallet/__init__.py
  cashu/wallet/cli/__init__.py
  cashu/wallet/cli/cli.py
  cashu/wallet/cli/cli_helpers.py
  cashu/wallet/cli/nostr.py
  cashu/wallet/crud.py
  cashu/wallet/migrations.py
  cashu/wallet/wallet.py
Labels: code health

#166 settings: add mint derivation path
  cashu/core/settings.py
  cashu/mint/startup.py
  tests/conftest.py
Labels: mint

#185 [Wallet] enable tor tests in CI
  tests/test_tor.py
Labels: wallet, tests

#188 squash many mypy warnings
  cashu/core/base.py
  cashu/core/crypto.py
  cashu/core/legacy.py
  cashu/core/secp.py
  tests/test_mint.py
Labels: code health

#189 [Mint] add mint api tests
  .env.example
  cashu/core/base.py
  cashu/core/settings.py
  tests/conftest.py
  tests/test_mint.py
  tests/test_mint_api.py
Labels: tests

#226 Mint API: Check `?amount` is within a sensible range
  cashu/mint/router.py
  tests/test_mint_api.py
Labels: enhancement, mint

#234 [Mint] LNBits backend refactor httpx
  cashu/lightning/lnbits.py
Labels: mint

#233 [Wallet] Define responses for API
  cashu/wallet/api/responses.py
  cashu/wallet/api/router.py
  tests/test_api.py
Labels: wallet api
